.card{
	background-color: white;
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
	width: 300px;
	border-radius: 3px;
	text-align: center;
	padding: 15px;
	margin: 20px auto;
}
.card img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 50%;
}

.description{
	background-color: red;
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
	width: 600px;
	border-radius: 3px;
	text-align: center;
	padding: 15px;
	margin: 20px auto;